version: "3.6"
services:
  realty-scoring:
    build:
      context: .
      args:
        - PROJECT_NAME=realty-scoring
    expose:
      - "9001"
    ports:
      - "8000:9001"
    environment:
      ENVIRONMENT: development
      BIND_PORT: 8000
      SERVICE_THREADS: 5
      DATABASE_URL:
      CITIES_DICT:
      DISTRICTS_DICT:
      WALL_TYPE_DICT:
